/** GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
/* @import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans'); */


/** LOCAL GOOGLE FONTS */

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), /* from https://fonts.gstatic.com/s/nunitosans/v1/iJ4p9wO0GDKJ-D5teKuZqmfQcKutQXcIrRfyR5jdjY8.eot */
    url('files/fonts/Nunito_Sans.eot?#iefix') format('embedded-opentype'), /* from https://fonts.gstatic.com/s/nunitosans/v1/iJ4p9wO0GDKJ-D5teKuZqobN6UDyHWBl620a-IRfuBk.woff */
    url('files/fonts/Nunito_Sans.woff') format('woff'), /* from https://fonts.gstatic.com/s/nunitosans/v1/iJ4p9wO0GDKJ-D5teKuZqo4P5ICox8Kq3LLUNMylGO4.woff2 */
    url('files/fonts/Nunito_Sans.woff2') format('woff2'), /* from https://fonts.gstatic.com/l/font?kit=iJ4p9wO0GDKJ-D5teKuZqnNsigHlcrQGNV8nkUSFQfc&skey=60bfdc605ddb00b1&v=v1#NunitoSans */
    url('files/fonts/Nunito_Sans.svg#NunitoSans') format('svg'), /* from https://fonts.gstatic.com/s/nunitosans/v1/iJ4p9wO0GDKJ-D5teKuZqp0EAVxt0G0biEntp43Qt6E.ttf */
    url('files/fonts/Nunito_Sans.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), local('Raleway-Regular'), /* from https://fonts.gstatic.com/s/raleway/v11/JDau3G46nqY5-B-S9E_nwg.eot */
    url('files/fonts/Raleway.eot?#iefix') format('embedded-opentype'), /* from https://fonts.gstatic.com/s/raleway/v11/IczWvq5y_Cwwv_rBjOtT0w.woff */
    url('files/fonts/Raleway.woff') format('woff'), /* from https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2 */
    url('files/fonts/Raleway.woff2') format('woff2'), /* from https://fonts.gstatic.com/l/font?kit=IP_NSg73bUZGuyb3zF6qcQ&skey=30a27f2564731c64&v=v11#Raleway */
    url('files/fonts/Raleway.svg#Raleway') format('svg'), /* from https://fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf */
    url('files/fonts/Raleway.ttf') format('truetype');
}


/** HTML */
body, html {
  margin: 0;
  height: 100%;
}

/** SVG ELEMENTS */

svg {
    background: #041B3D;
    display: block;
}

svg .bar {
    fill: rgb(255, 255, 255);
}

svg .bar-injuried {
    fill: rgb(247, 19, 169);
}

svg .bar-deaths {
    fill: rgb(227, 191, 39);
}

svg .bar-text {
    fill: rgb(255, 255, 255);
    font-family: 'Nunito Sans' sans-serif;
    font-size: 11px;
}

svg .bus-stop-circle {
    shape-rendering: crispEdges;
}

svg .bus-stop-circle-over {
    fill: #fff;
    shape-rendering: crispEdges;
}

/*svg .crash-spot {
    fill: rgb(227, 15, 40);
}*/

svg #death.crash{
  fill: rgba(227, 191, 39, 0.9);
}

svg #injuried.crash{
  fill: rgba(247, 19, 169, 0.1);
}

svg #transport.hotspot-text {
    fill: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

svg #zone.hotspot-text {
    fill: rgb(227, 228, 30);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

svg .italy {
    fill: #f00;
    stroke: #1a0808;
    stroke-width: 1;
}

svg .street {
    fill: none;
    stroke-width: 0.3;
    stroke: rgb(30, 192, 208);
}

svg .transport-hotspots {
    fill: rgba(222, 216, 216, 0.64);
}

svg .transport-hotspots-over {
    fill: rgb(255, 255, 255);
}

svg .ui-text {
    fill: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 4px;
}

svg .ui-text-city {
    fill: rgb(246, 236, 2);
    font-family: 'Reem Kufi', sans-serif;
    font-size: 24px;
    padding: 4px;
}

svg .zone {
    fill: rgba(246, 244, 234, 0.01);
    stroke-width: 1.0;
    stroke: rgba(241, 233, 33, 0.1);
    shape-rendering: optimizeSpeed;
}

svg .zone-hover {
    fill: rgba(246, 244, 234, 0.2);
    stroke-width: 1.0;
    stroke: rgba(241, 233, 33, 1);
    shape-rendering: optimizeSpeed;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}


/** HEATMAP */

#heatmapContainerWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

#heatmapContainer {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
